@import 'variables.scss';

main {
	padding-top: 120px;
}
.container {
	max-width: 1120px;
	margin: 0 auto;
}
.slider {
	display: flex;
	flex-direction: column;
	gap: 15px;
	&__body {
		position: relative;
		width: 100%;
		min-height: 760px;
		img {
			width: 100%;
			height: auto;
			object-fit: none;
			overflow: unset;
		}
	}
	&__controls {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
	&__dot {
		width: 12px;
		height: 12px;
		border: none;
		border-radius: 50%;
		background-color: #efeef6;
		margin: 0 5px;
		cursor: pointer;
		&:hover {
			transform: scale(1.1);
			cursor: pointer;
		}
		&__active {
			background-color: $color-purple;
		}
	}
}
.banner-slider {
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: $color-black;
}
.banner, .banner--br, .banner--tr {
	position: absolute;
	padding: 20px;
	transition: 250ms;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	box-shadow: 0px 24px 36px rgba(53, 49, 84, .28);
	z-index: 1;
}
.banner:hover, .banner--br:hover, .banner--tr:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.banner--tr {
	background-color: rgba(158, 152, 220, 1);
	width: 149px;
	height: 204px;
	position: absolute;
	top: 200px;
	left: 1230px;
}
.banner--br {
	right: 0;
	top: 500px;
	width: 137px;
	height: 273px;
	background: $color-pink;
}
.banner__arrow {
	all: unset;
	content: " ";
	width: 55px;
	height: 12px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}
